<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings> 
    	<!-- 缓存设置 -->
		<setting name="cacheEnabled" value="true"/> 
	</settings> 
	<!--2.4 typeAliases元素——定义类别名，简化xml文件的配置，如:-->
    <typeAliases>
		
    </typeAliases>
    
    <!-- 加载sql配置文件 -->
    <mappers> 
    	
    </mappers>

</configuration>